body {
		margin: 0 0 2 0;
		font-family: times;
}

.comment-marker {
		width: 8px;
		height: 8px;
		margin-top: 3px;
		background-image: url('../imgs/comment.png');
}

.file-container {
	 margin-left: auto;
	 margin-right: auto;
	 height: 100%;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box;
   overflow: hidden;
}

.file-header h1 {
	font-size: 16px;
	float: left;
	margin: 5 0 0 10;
	color: #555;
}

.file-header a {
	text-decoration: none;
}

.file-header {
	width: 100%;
	height: 30px;
	border-bottom: 1px solid #ccc;
	background: #eee;
}

.browser ul {
    background-color: #fefefe;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    
}

.directory {
    background-image: url("../imgs/directory.png");
    background-position: 3px 2px;
}

.file {
    background-image: url("../imgs/file.png");
    background-position: 3px 2px;
}

.browser li {
    min-height: 16px;
    padding-left: 24px;
    display:inline-block;
    width:100%;
    border-bottom: 1px solid #eee;
    background-repeat: no-repeat;
    height:20px;
}

.browser li:hover {
    background-color: #fafafa
}

.browser a {
    text-decoration: none;
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

.comment-container a {
    margin-bottom: 5px;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    background-color: #eee;
    color: black;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius:3px;
    overflow: hidden;   
}

.comment-close a {
    float: right;
    width: 100px;
    margin-right: 10px;
}

.comment-container {
    overflow: hidden;
}

.comment-save-disabled a {
    width: 0px;
    height: 0px;
}

.comment-save-disabled a {
    display:none;
}

.comment-save a {
    float: left;
    width: 50px;
    margin-left: 10px;
}

.comment-container a:hover {
    background-color: #ffffff;
}

.comment-container textarea {
		border: 1px solid #ccc;
		padding: 5 5 5 5;
		margin: 5 5 5 5;
		max-width: calc(100% - 10px);
		width: calc(100% - 10px);
        min-width: calc(100% - 10px);
        min-height: 30px;
		border-radius: 3px;
        background: #fafafa;
        box-shadow: 2px 2px 3px #aaa;
        overflow: hidden;
        resize: none;
}

.syntax-menu p {
  margin: 5px 20px 0 0;
  float: right;
}
