body {
    margin: 5 5 5 5;
    font-family: times;
}

.rubric-item {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 6px #333; 
    overflow: hidden;
    padding: 0 0 0 0;
    border-radius: 5px;
    margin: 0 0 20 0;
}

.likert ul {
    /* Compatability with Safari */
    display: -webkit-flex;
    -webkit-justify-content: space-between;

    display: flex;
    justify-content: space-between;
    padding: 5 5 5 5;
    margin: 0 5 0 5;
}

.likert li {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
}

.rubric-item p {
    background: #fafafa;
    margin: 0 0 0 0;
    padding: 5 10 5 10;
}

.rubric {
    float: left;
    margin-left: 5px;
    width: calc(40% - 15px);
}

.feedback {
    float: right;
    margin-right: 20px;
    width: calc(40% - 15px);
}

.rubric h1 {
    margin: 0 0 0 0;
    font-size: 18px;
    text-decoration: underline;
}

.rubric h2, h3 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 14px;
    font-weight: normal;
}

.rubric h2 {
    float: left;
}

.rubric h3 {
    float: right;
}

.container {
    float: left;
    margin-right: 5px;
    height: 100%;
    width: calc(60% - 15px);

}

.file-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.free-response textarea {
		border: none;
		padding: 5 5 5 5;
		margin: 5 5 5 5;
		max-width: calc(100% - 10px);
		width: calc(100% - 10px);
        min-width: calc(100% - 10px);
        min-height: 30px;
		border-radius: 3px;
        overflow: hidden;
        resize: none;
}

.question p {
    border-bottom: 1px solid #ccc;	
}

.submit-button a {
	text-decoration: none;
	float: right;
	margin-right: 25px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5 5 5 5;
	color: #000;
	background: #eee;
}

input[type=submit] {
	text-decoration: none;
	float: right;
	margin-right: 25px;
	border: 1px solid black;
	border-radius: 3px;
	padding: 5 5 5 5;
	color: #000;
	background: #eee;
}

input[type=submit]:hover {
	background: #aaa;
	color: #000;
}


.submit-button a:hover {
	background: #aaa;
	color: #000;
}

.submit-button.hidden {
    display: none;
}
