db-address=localhost
db-name=captain_teach
db-password=captain_teach
db-user-name=captain_teach

master-user=youremail@domain.com

server-name=captain-teach.org
sub-domain=www.

mail-server=smtp.sendgrid.net
mail-port=2525
mail-username=username
mail-password=password

class-name=test-class
ct-port=8080

storage-mode=cloud-storage
bucket=test-class/
cloud-host=storage.googleapis.com
cloud-access-key-id=YOUR-ACCESS-ID
cloud-secret-key=YOUR-SECRET-KEY